{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block head_title %} {% endblock %}Nekidaem</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <div class="row">
        <nav>
            <ul>
                <li><a href="{% url 'blog:main' %}">Лента</a></li>
                <li><a href="{% url 'blog:blogs' %}">Блоги</a></li>
                <li><a href="{% url 'blog:post_create' %}">Добавить пост</a></li>
            </ul>
            <div class="clear"></div>
        </nav>
    </div>
</header>

    {% if messages %}
        <div class="row">
        {% for message in messages %}
            <div class="alert">
                {{ message }}
            </div>
        {% endfor %}
        </div>
    {% endif %}

{% block content %}
{% endblock %}
<footer>

</footer>
</body>
</html>